body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.pageFlex {
  width: 98vw;
  display: flex;
}

.productDisplay{
  width: 68vw;
  border: 1px solid ridge;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

}